@{
    var ErrorMessage = TempData["Error"] as string;
    var SuccesMessage = TempData["Succes"] as string;


    if (string.IsNullOrEmpty(ErrorMessage))
    {
        ErrorMessage = "";
    }
    if (string.IsNullOrEmpty(SuccesMessage))
    {
        SuccesMessage = "";
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Great Fin Challenge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/scrollbar.css" />
    @await RenderSectionAsync("styles", required: false)


</head>
<body class="scrollbar">
    <header>
        <nav class="navbar navbar-expand-sm mb-3 py-3 active">
            <div class="container">
                <a class="navbar-brand text-uppercase font-weight-bold" asp-controller="Home" asp-action="Index">The Great Fin Challenge</a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Activity">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Group">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Photos">Photos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Settings">Settings</a>
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="modalError">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-block alert-danger">
                        <h4>Error !</h4>
                        <p id="errorText"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSucces">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-block alert-success">
                        <h4>Succes !</h4>
                        <p id="succesText"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2021 - The Great Fin Challenge - Webdesign by TD
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        $('document').ready(function () {
            var succesMessage = "@SuccesMessage";
            var errorMessage = "@ErrorMessage";
            console.log("Succes", succesMessage)
            console.log("Error", errorMessage)

            if (succesMessage != "") {
                document.getElementById("succesText").innerHTML = succesMessage;
                $("#modalSucces").modal()
            } else if (errorMessage != "") {
                document.getElementById("errorText").innerHTML = errorMessage;
                $("#modalError").modal()
            }
            
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
