@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="video-Wrapper">
    <video loop="loop" muted="muted" autoplay="autoplay" class="video">
        <source src="~/clips/BackgroundIW4K2.mp4" />
    </video>
    <section class="sectionHeight d-flex align-items-center">
        <div class="container">
            <div class="col text-white">
                <h1 class="display-2"><b>The Great Fin Challenge</b></h1>
                <h1 class="display-4">BBI GENT</h1>
            </div>

        </div>
    </section>
</div>
<section class="sectionHeight bg-white">
    <div class="container p-5">
        <header class="py-5">
            <div class="fade">
                <h1 class="display-4"><b>About Us</b></h1>
                <hr />

                <p>
                    Since the lockdown started in March last year, Belgians have started 
                    working out more and practicing more sports. This revival of sports culture 
                    arrived at the same time as the most popular mobile sports application 
                    changed it’s terms of use. To the dismay of lots of users, many popular 
                    functions were reserved for the paid version of the application.
                </p>
                <p>
                    The new conditions gave a group of computer science students from the KU 
                    Leuven Kulak the idea of setting up their own sports application 'Sjette', 
                    which means 'to continue' in West Flemish.
                </p>
                <p>
                    This webapplication has been developed with on the one hand extra attention 
                    to the privacy for our users, but on the other hand also extra attention to the 
                    social dynamics that can help encourage our users to start exercising.
                </p>
                <div class="text-center">
                    <img src="~/img/logo kulak.png" style="max-width: 50%" />
                </div>
            </div>
        </header>
    </div>
</section>