@{
    ViewData["Title"] = "Create Activity";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@section scripts{
    <script src="~/js/createActivity.js"></script>
}

@section styles{ 
    <link rel="stylesheet" href="~/css/createActivity.css" />
}

@{
    var userDictionairy = new Dictionary<string, string>();
    foreach (var c in User.Claims)
    {
        userDictionairy.Add(c.Type.ToString(), c.Value.ToString());
    }
}


<div class="d-flex justify-content-center vh-100 my-5">
    <div class="align-self-center">
        <div class="p-4 rounded formBackground">
            <form id="regForm" action="~/createActivity" name="regForm" onsubmit="return formControlBeforeSubmit()" method="post">
                <div class="text-center pb-4">
                    <h1 class="display-4">Create a new activity</h1>
                </div>

                <!-- One "tab" for each step in the form: -->
                <div class="tab">
                    <div class="d-flex justify-content-between">
                        <div class="col justify-content-center">
                            <div class="row justify-content-center">
                                <label class="form-group mr-3">
                                    <input onchange="calculateCalories()" id="cycling" type="radio" name="activityType" value="Cycling" required>
                                    <img src="~/img/radioBtnCycle.png" class="radioImg">
                                </label>
                                <label class="form-group ml-3">
                                    <input onchange="calculateCalories()" id="running" type="radio" name="activityType" value="Running">
                                    <img src="~/img/radioBtnRun.png" class="radioImg">
                                </label>
                            </div>
                            <div class="row justify-content-center">
                                <label class="form-group mr-3">
                                    <input onchange="calculateCalories()" id="hiking" type="radio" name="activityType" value="Hiking">
                                    <img src="~/img/radioBtnWalk.png" class="radioImg">
                                </label>
                                <label class="form-group ml-3">
                                    <input onchange="calculateCalories()" id="swimming" type="radio" name="activityType" value="Swimming">
                                    <img src="~/img/radioBtnSwim.png" class="radioImg">
                                </label>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>


                <div class="tab">
                    <div class="form-group">
                        <label for="totalKms">Total amount of kilometers</label>
                        <input required name="totalKms" id="totalKms" placeholder="Enter amount of kms" class="form-control" type="number" min="0.01" step="0.01">
                    </div>
                    <div class="form-group">
                        <label for="startTime">Date</label>
                        <input required name="startTime" id="startTime" placeholder="Enter a time" class="form-control" type="date"/>
                    </div>
                    <div class="form-group">
                        <label for="totalTime">Duration</label>
                        <input required name="totalTime" id="totalTime" placeholder="Enter a time" class="form-control" type="time" step="1" onchange="calculateCalories()">
                    </div>
                    <div class="form-group">
                        <label for="gear">Calories</label>
                        <input readonly="readonly" name="calories" id="calories" placeholder="Amount of calories" class="form-control" type="number" min="1">
                    </div>
                </div>

                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button type="button" class="btn btn-success btn-lg" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" class="btn btn-success btn-lg" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </div>

                <!-- Circles which indicates the steps of the form: -->
                <div class="text-center mt-4">
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div>
</div>