/* Style the form */
#regForm {
    width: 100%;
    min-width: 450px;
    min-height: 345px;
}

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

    /* Mark the active step: */
    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #4CAF50;
    }

/* Needed a tint of white with a light contrast */
.formBackground {
    background: rgba(242, 242, 242, 0.9);
}

/* Needed height of a section minus the header and footer */
.contentHeight {
    height: calc(100vh - 60px - 105px);
}


.radioImg {
    object-fit: cover;
    width: 130px;
    height: 130px;
    opacity: 0.8;
    transition: 200ms all;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]:hover + img {
    opacity: 1;
    transition: 200ms all;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    box-shadow: 0 0 3px 3px #090;
    opacity: 1;
    transition: 200ms all;
}
